
@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundheader{
  background-image: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80')
}

.backgroundskills{
  background-image: url('https://images.unsplash.com/photo-1635471885959-945b7c40251a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80')
}
.backgroundcontact{
  background-image: url('https://images.unsplash.com/photo-1635776062360-af423602aff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base{
  body{
    @apply bg-[#121212] tracking-wide
    
  }
  
  li {
    @apply cursor-pointer
  }


  #logo{
    @apply cursor-pointer
  }

  #display-none{
    @apply hidden;
  }

}

html,
body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (min-width: 1100px) {
  .aboutflex {
      flex-direction: row;
  }
}

@media (max-width: 994px) {
  .contactflex {
      flex-direction: column;
  }
}

@media (min-width: 490px) {
  .lastnameflex {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .hiddenlogo {
      display: none;
  }
}