
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .intro {
    background-attachment: scroll;
  }
}

.textclear{
  text-shadow: 3px 2px 3px black;
}



body {
  @apply h-full;
  @apply absolute;
}

@layer base{
  body{
    @apply bg-[#08090a] tracking-wide;
  }
  
  .accent{
    color: #BA203C;
  }
  
  li {
    @apply cursor-pointer
  }


  #logo{
    @apply cursor-pointer
  }

  #display-none{
    @apply hidden;
  }

}

.hoverbutton:hover{
  color: #212121;
  background-color: azure;
  border-radius: 5px;
}

html,
body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
  
}

.backgroundheader{
  background-image: url('https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.backgroundskills{
  background-image: url('https://images.unsplash.com/photo-1635471885959-945b7c40251a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.backgroundcontact{
  background-image: url('https://images.unsplash.com/photo-1608447714925-599deeb5a682?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* accent colors */
.hovericons:hover{
  fill: #0A66C2;
  cursor: pointer;
}

.hidenav{
  opacity: 0;
  transition: 0.25s;
  transition-timing-function: ease-out;
  
}

.shownav{
  opacity: 1;
  transition: 0.25s;
  transition-timing-function: ease-in;
}

.navbg{
  background: rgba(0, 0, 0, 0.5)
}

/* FORM */
form { max-width:420px; margin:50px auto; }

[type='checkbox'] {
  transform: scale(1.5);
  accent-color: #212121;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #212121;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid white; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  
  border-radius:5px;
  border:0;
  cursor:pointer;
  
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type='reset'] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: transparent;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover, [type='reset']:hover { background: white; color: #212121; }

/*ANIMATIONS */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (min-width: 950px) {
  .sm\:aboutflex {
      display: flex;
  }
}


@media (max-width: 994px) {
  .contactflex {
      flex-direction: column;
  }
}

@media (min-width: 490px) {
  .lastnameflex {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .hiddenlogo {
      display: none;
  }
}

.insta:hover {
  fill: #fb3958;
}

.linkedin:hover{
  fill: #0A66C2;
}

.github:hover{
  fill: cyan;
}

.facebook:hover{
  fill: #0A66C2;
}

.file:hover{
  fill: greenyellow;
}

@supports (-webkit-touch-callout: none) {
  .intro {
    background-attachment: scroll;
  }
}

@media (min-width: 1000px) {
  .boxflex {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.slider-wrapper {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  padding-left:15px;
}
.slider-text1 {
  animation: slide 5s linear infinite;
}
.slider-text1:hover {
  background-color: azure;
  color: #212121;
  cursor: pointer;
}
.slider-text2:hover {
  background-color: azure;
  color: #212121;
  cursor: pointer;
}
.slider-text3:hover {
  background-color: azure;
  color: #212121;
  cursor: pointer;
}
.slider-text4:hover {
  background-color: azure;
  color: #212121;
  cursor: pointer;
}
.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 7px;
  text-align: center;
  box-sizing: border-box;
}
.slider{
  height: 50px;
  overflow: hidden;   /* hide the text outside the slider div area */
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}  /* 5% delay */
  33% {margin-top:-200px;}
  38% {margin-top:-100px;} /* 5% delay */
  66% {margin-top:-100px;}
  71% {margin-top:0px;} /* 5% delay */
  100% {margin-top:0px;}
}